name: Build Backend Docker Image

on:
  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      IMAGE_NAME:
        required: true

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        working-directory: apps/backend
        run: docker build -f Dockerfile.prod -t ${{ secrets.IMAGE_NAME }}-backend:${{ github.sha }} .

      - name: Tag backend image
        run: |
          docker tag ${{ secrets.IMAGE_NAME }}-backend:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}-backend:latest
          docker tag ${{ secrets.IMAGE_NAME }}-backend:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}-backend:${{ github.sha }}

      - name: Push backend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}-backend:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}-backend:${{ github.sha }}
